<div>
  <script type="text/javascript">
  $(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        events: '/events.json'
    })

});
  </script>
</div>
<div id='calendar' style="width:70%; margin: 0 auto;"></div>

